body, h1, h2, h3, h4, h5, h6, div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.board {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: center;
}

.card {
  width: 50px;
  height: 70px;
  border: solid 1px black;
  border-radius: 5px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card:hover {
  cursor: pointer;;
}
